header nav ul,
aside nav ul {
    list-style: none;
    margin: 0;
    padding: 4px 8px;
}
header nav ul{
    display: flex;
    background-color: rgb(64, 152, 235);
    gap:16px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

aside nav ul{
    display: flex;
    flex-direction: column;
  
    gap:16px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}
aside nav {
    background-color: rgb(64, 152, 235);
}
.header-nav-links {
    list-style: none;
    color: white;
}